

  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    gap: 9rem;
  }
  
  .grid-two-column {
    grid-template-columns: repeat(2, 1fr);
  
  }
  .contact-short {
    max-width: 60vw;
    margin: auto;
    padding: 5rem 10rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: gray;
    transform: translateY(50%);
  }
  
  .contact-short .grid div:last-child {
    justify-self: end;
    align-self: center;
  }
  
  footer {
    padding: 14rem 0 9rem 0;
    background-color: black;
  }
  
  footer h3 {
    color: white;
    margin-bottom: 2.4rem;
  }
  
  footer p {
    color: white;

  }
  
  .footer-social--icons {
    display: flex;
    gap: 2rem;
  }
  
  .footer-social--icons div {
    padding: 1rem;
    border-radius: 50%;
    border: 2px solid white;
  }
  
  .footer-social--icons .icons {
    color: white;
    font-size: 2.4rem;
    position: relative;
    cursor: pointer;
  }
  
  .footer-bottom--section {
    padding-top: 1rem;

    
  }
  .centered-paragraph {
    text-align: center;
  }
  
  .footer-bottom--section hr {
    margin-bottom: 1rem;
    color: white;
    height: 0.1px;
  }
  
  